<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ggui.swoosh.fidemo">

    <!-- 要求OpenGLES的版本是2.0 -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <!-- 要求读写外部存储器的权限 -->
    <user-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <user-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <!-- 原有的主题是 android:theme="@style/AppTheme"/> 修改成了上面这种样式-->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>